%table.table.table-condensed
  %thead
    %tr
      %th Name
      %th Location
      %th City
      %th State
      %th Country
      %th Phone
      %th Email
  %tbody
    = render :partial => 'exam_centers/center', :collection => @exam_centers, :as => :center
