%table.table.table-condensed.table-bordered.table-striped
  %thead
    %tr
      %th Id
      %th Name
      %th Location
      %th City
      %th State
      %th Country
      %th Phone
      %th Email
  %tbody
    = render :partial => 'exam_centers/center', :collection => @centers
