.page-header
  %h2 Exam Centers
.alert.alert-info
  = page_entries_info @centers, model: "results", html: false
= render "shared/gmap"
= render 'results'
= will_paginate @centers, param_name: "exam_center_page", previous_label: h("<"), next_label: h(">")
