%h3
  = link_to "Registrations", registrations_path
.page-header
-#  %h3= @registration.student.user_id

-# %table.table.table-striped
-#   %thead
-#     %th Course
-#     %th Exam Center
-#     %th Registration Date
-#     %th Exam Date
-#     %th Time
-#     %th Status
-#   %tbody
-#     %tr
-#       %td= @registration.course.exam_name
-#       %td= @registration.exam_center.center_name
-#       %td= data.course_name
-#       %td= data.duration
-#       %td= data.no_of_questions
