.col-md-5
  .panel.panel-default
    .panel-heading
      %h4 Course Details
    .panel-body
      = link_to "New Course", "" , :class => 'btn btn-primary pull-right'
.col-md-7
  .panel.panel-default
    .panel-heading
      %h4 Exam Centers
    .panel-body
      = render "shared/gmap"
      = link_to "New Center", "" , :class => 'btn btn-primary pull-right'
