= render "search"
%table.table.table-condensed
  %thead
    %th Category
    %th Sub Category
    %th Course
    %th Exam Name
  %tbody
    = render :partial => "result", :collection => @courses, :as => :data
