%table.table.table-striped
  %thead
    %th Machine Id
    %th Status
    - if can? [:update, :destroy], Machine
      %th Action
  %tbody
    = render :partial => "machines/machine", :collection => machines, :as => :data
